language: ruby
dist: trusty
rvm:
  - 2.5.1
services:
  - postgresql
before_install: gem install bundler --pre
before_script:
  - psql -c 'create database myapp_test;' -U postgres
script:
  - bundle exec rails db:create
  - bundle exec rails db:migrate
  - bundle exec rspec